@font-face {
	font-family: 'PT Mono';
	font-style: normal;
	font-weight: normal;
	src: url(ptmono-r.ttf);
}
@font-face {
	font-family: 'PT Mono';
	font-style: normal;
	font-weight: bold;
	src: url(ptmono-b.ttf);
}

