@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: normal;
	src: url(lato-r.ttf);
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: normal;
	src: url(lato-i.ttf);
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: bold;
	src: url(lato-b.ttf);
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: bold;
	src: url(lato-bi.ttf);
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: url(lato-h.ttf);
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 100;
	src: url(lato-hi.ttf);
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 200;
	src: url(lato-l.ttf);
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 200;
	src: url(lato-li.ttf);
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: url(lato-blk.ttf);
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 900;
	src: url(lato-blki.ttf);
}
