<style type="text/css">
.title-box {
	display: block; overflow: auto;
	background-color: #6A8347;
	background: linear-gradient(#6A8347, #A6CB45);
}

.title-box .content-bounds {
	display: block; overflow: auto;
	background-image: url(/assets/hashvoid-banner.png);
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 1.1em;
	text-align: center;
}

.title1 {
	font-family: "Counterstrike";
	font-size: 96px;
	color: #ffffff;
	text-shadow: 0px 0px 50px #000;
	margin: 1em 0 0.5em 0;
}

.title2 {
	font-size: 28px;
	font-weight: 900;
	padding: 0 0 1em 0;
	color: #333;
	text-shadow: 0px 0px 20px #fff;
}

.content-box {
	font-size: 1.2em; color: #444;
	line-height: 1.5em;
	margin-top: 3em; margin-bottom: 4em;
}

.col-hdr {
	font-size: 1.4em; font-weight: 900; color: #257B97;
	line-height: 50px;
	padding: 0 0 0.5em 0;
	text-align: center;
}

.col-body {
	padding: 0 0 10px 0;
}

.col-footer {
	text-align: left;
	padding: 0 0 10px 1em;
}

.col-axn {
	text-decoration: none;
	color: #D70002;
	font-size: 1em; font-weight: 900;
	padding: 0.5 2em; border: none;
}

.col-axn:hover {
	text-decoration: none;
	color: #EF4916;
}

.callout {
	padding: 1em; margin: 2em 0;
	border-radius: 5px;
	font-size: 20px; font-weight: bold;
	color: #30A0DC;
	/* background-color: #257B97; */
	text-align: center;
}

.callout a, .callout a:hover {
	color: #257B97;
	text-decoration: none;
}
</style>

<div class="container-fluid center-box-l2">

	<div class="title-box">
		<div class="content-bounds">
			<div class="title1">
				hashvoid.com
			</div>
			<div class="title2">
				shared components and libraries for creating<br/>
				light-weight Web applications in Java.
			</div>
		</div>
	</div>

	<div class="content-bounds content-box">

		<div class="row">
			<div class="col-sm-4">
				<div class="col-hdr">
					C<span class="small">ROSSBINDER</span>
				</div>
				<div class="col-body">
					Simple, minimal and lightweight dependency injection and lifecycle management
					container. Implemented ground-up with nearly zero dependencies and a
					small binary footprint. Require a very minimum boilerplate code and no external
					configuration.
				</div>
			</div>

			<div class="col-sm-4">
				<div class="col-hdr">
					<!--
					A<span class="small">MBERJACK</span>
					-->
					<img src="/amberjack/assets/amberjack-whitebg-small.png" />
				</div>
				<div class="col-body">
					A clean-room implementation of the server-side JAX-RS 2.0 specification for
					building and deploying RESTful Web services in Java. Features a modular design
					that separates the core container from transport-layer integrations and support
					for dependency injection.
				</div>
			</div>

			<div class="col-sm-4">
				<div class="col-hdr">
					<!--
					J<span class="small">ETIZEN</span>
					-->
					<img src="/jetizen/assets/jetizen-whitebg-small.png" />
				</div>
				<div class="col-body">
					A pre-defined technology bundle (opinionated stack) that integrates Jetty HTTP
					server with Amberjack and Crossbinder. The purpose is to accelerate the
					development of web applications modeled as RESTful services and microservices.
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 col-footer">
				<a class="col-axn" href="/crossbinder">More &rarr;</a>
			</div>

			<div class="col-sm-4 col-footer">
				<a class="col-axn" href="/amberjack">More &rarr;</a>
			</div>

			<div class="col-sm-4 col-footer">
				<a class="col-axn" href="/jetizen">More &rarr;</a>
			</div>
		</div>

		<!-- div class="callout">
			Everything under hashvoid is an open-source project and is made available via
			<a href="http://www.github.com/hashvoid">github<a>.
		</div -->
	</div>

</div>
