/* Common styles for top navigation bar across all pages under this section */

.navbar-section {
	background-color: #E36700;
	border: none;
}

.nav-section {
	font-weight: bold;
	color: #fff;
}

.nav-section a {
	color: #fff !important;
}

.navbar-brand {
	padding:9px; margin:0;
}

/* Common styles for landing pages under this section */

.home-title-box {
	display: block; overflow: auto;
	background-color: #E36700;
	background: linear-gradient(#E36700, #F2A944);
}

.home-title-box .content-bounds {
	display: block; overflow: auto;
	background-image: url(amberjack-banner.png);
	background-position: center top;
	background-repeat: no-repeat;
	padding: 3em 0 1em 0;
	font-size: 1.1em;
	text-align: center;
}

.home-title-box .line1 {
	display: block; overflow: auto;
	margin: 4em 0 2em 0;
}

.home-title-box .line2 {
	font-size: 1.6em;
	font-weight: 900;
	margin: 0 0 2em 0;
	color: #000;
	text-shadow: 0px 0px 20px #fff;
}


.home-content-box {
	font-size: 1.2em; color: #444;
	line-height: 1.5em;
	margin-top: 2em; margin-bottom: 2em;
}


.book-title-box {
	display: block; overflow: auto;
	width: 100%;
	background-color: #F2A944;
}

.book-title-box .content-bounds {
	display: block; overflow: auto;
	padding: 2em 0 2em 0;
	background-image: url(amberjack-banner.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.book-title-box .line1 {
	font-size: 2em;
	font-weight: 900;
	text-align: left;
	padding-bottom: 0.5em;
	text-shadow: 0 0 20px #fff;
}

.book-title-box .line2 {
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	text-shadow: 0 0 20px #fff;
}


/* Common styles across all book pages under this section */

#toc-shim {
	display: inline; overflow: auto;
	width: 100%;
}

.table-of-contents {
	display: block; overflow: auto;
	float: right;
	width: 280px;
	padding: 20px 0 0 20px;
	font-size: 1.2em;
}

.table-of-contents .toc-body {
	/* font-weight: bold; */
}

.table-of-contents .toc-entry-1 {
	font-weight: bold;
}

.table-of-contents .toc-entry-2 {
	padding-left: 1em;
}

.table-of-contents .toc-entry-3 {
	padding-left: 2em;
}

.book-content-box {
	display: block; overflow: auto;
	font-size: 1.1em;
	padding: 0 0 30px 0;
	margin-right: 300px;
}

.book-content-box h1 {
	display: block; overflow: auto;
	font-size: 1.6em;
	font-weight: bolder;
	text-transform: uppercase;
}

.book-content-box h2 {
	display: block; overflow: auto;
	font-size: 1.6em;
	font-weight: bolder;
}

.book-content-box h3 {
	display: block; overflow: auto;
	font-size: 1.4em;
	font-weight: bold;
}


.book-content-box table {
	margin: 1em 5px;
	border: 1px dotted #ccc;
}

.book-content-box td {
	text-align: left;
	vertical-align: top;
	min-width: 200px;
	padding: 0.3em;
	border: 1px dotted #ccc;
}


pre {
	font-family: "PT Mono";
	font-size: 0.8em;
	border: none;
	/* border: 1px solid rgb(196, 196, 196); */
	border-left: 5px double #2B77C0;
	border-radius: 0;
	background-color: #fff;
}

code {
	font-family: "PT Mono";
	font-size: 0.8em;
	color: #666;
}
