<style type="text/css">
.col-hdr {
	font-size: 1.4em; font-weight: 900; color: #257B97;
	padding: 1em 0 0.5em 0;
	text-align: center;
}

.col-body {
	padding: 0 7px 10px 7px;
}

.col-footer {
	text-align: left;
	padding: 0 0 2em 1em;
}

.col-axn {
	text-decoration: none;
	color: rgb(242, 169, 68); /*#EF4916;*/
	font-size: 1em; font-weight: bold;
	padding: 0.5 2em; border: none;
}

.col-axn:hover {
	text-decoration: none;
	color: #EF4916;
}

.butbar {
	text-align: center;
	padding: 1em 0;
}

.callout {
	padding: 2em 5em 1em 5em;
	font-weight: bold;
	text-align: center;
}

.small {
	font-size: 0.9em;
}
</style>

<!-- top navigation -->
<nav class="navbar navbar-default navbar-section">
	<div class="container-fluid content-bounds">
		<ul class="nav navbar-nav nav-right nav-section">
			<li><a href="#!/getting-started">Getting Started</a></li>
			<li><a href="#!/docs-main">Documentation</a></li>
			<li><a href="http://www.github.com/hashvoid/jetizen">Github</a></li>
		</ul>
	</div>
</nav>

<div class="container-fluid center-box-l2">

	<div class="home-title-box">
		<div class="content-bounds">
			<div class="line1">
				<img src="assets/jetizen-logo.png" />
			</div>
			<div class="line2">
				Fast bootstrapping of RESTful services
			</div>
		</div>
	</div>

	<div class="content-bounds home-content-box">

		<p>Jetizen is a pre-defined bundle (also called an opinionated stack) of several open-source
		components written in Java. It has been put together to support development of Web
		applications whose server-side architecture comprise mainly of RESTful Web services and
		microservices. The primary components of this bundle are as follows:
		</p>

		<div class="row">
			<div class="col-sm-4 col-hdr">
				J<span class="small">ETTY</span>
			</div>
	  		<div class="col-sm-4 col-hdr">
				A<span class="small">MBERJACK</span>
			</div>
	  		<div class="col-sm-4 col-hdr">
				C<span class="small">ROSSBINDER</span>
			</div>
			<div class="col-sm-4 col-body">
				A lightweight, embeddable HTTP server and J2EE compliant servlet container. It forms
				the transport layer of Jetizen through support for various HTTP family of protocols.
			</div>
	  		<div class="col-sm-4 col-body">
				A clean-room implementation of the server-side JAX-RS 2.0 specification. It provides
				the environment for deployment of Web resources (complaint with the above
				specification), that are then bound to specific endpoints and remotely invoked over
				HTTP.
			</div>
	  		<div class="col-sm-4 col-body">
				A simple and minimal container for dependency injection and
				life-cycle management. It provides integration of various application-specific
				capabilities, modeled as singleton and protoype entities, with Web resources
				deployed within Amberjack.
			</div>
			<div class="col-sm-4 col-footer">
				&nbsp;
			</div>
			<div class="col-sm-4 col-footer">
				<a href="/amberjack" class="col-axn">More about Amberjack &rarr;</a>
			</div>
			<div class="col-sm-4 col-footer">
				<a href="/crossbinder" class="col-axn">More about Crossbinder &rarr;</a>
			</div>
		</div>
		<div class="butbar">
			<a href="#!/getting-started" class="btn btn-primary btn-lg">Let's Get Started</a>
		</div>

		<p class="callout">
			Jetizen is open-source under the terms of Apache Public License version 2.0.
			It is being developed and maintained on Github.<br/>If you'd like to contribute to Jetizen,
			we would be very happy to accept pull requests.
		</p>
	</div>
</div>
