body {
	font-family: "Lato";
	font-size: 14px;
	background-color: rgb(42, 38, 48);
}

.content-bounds {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	min-width: 750px; width: 750px;
}
@media (min-width: 768px) {
	.content-bounds {
	    width: 750px;
	}
}
@media (min-width: 992px) {
	.content-bounds {
	    width: 970px;
	}
}
@media (min-width: 1200px) {
	.content-bounds {
	    width: 1170px;
	}
}



.center-box-l1 {
	display: block; overflow: auto;
	background-color: #fff;
}

.center-box-l2 {
	display: block; overflow: auto;
	padding: 0;
	margin: -20px 0 0 0;
	background-color: #fff;
}

.footer-box-l1 {
	display: block; overflow: auto;
	padding: 20px 0;
	color: rgb(141, 151, 156);
	font-size: 15px;
}

.footer-left {
	line-height: 1.7em;
}

.footer-box-l1 a {
	text-decoration: none;
	color: #fff;
	font-weight: normal;
}

.footer-box-l1 a:hover {
	text-decoration: none;
}

.navbar {
	border-radius: 0;
}

.nav-right {
	float: right;
	font-size: 1.1em;
}



.right {
	text-align: right;
}
