.lang-xml {
	color: #777;
}
.lang-xml .hljs-tag {
	color: #333;
}
.lang-xml .hljs-name {
	color: rgb(187, 24, 33);
}


.lang-json {
	color: #777;
}
.lang-json .hljs-attr {
	color: rgb(41, 143, 10);
}
.lang-json .hljs-string {
	color: rgb(187, 24, 33);
}

.lang-java {

}
.lang-java .hljs-keyword {
	color: rgb(26, 125, 169);
}
.lang-java .hljs-title {

}
.lang-java .hljs-class {

}
.lang-java .hljs-function {

}
.lang-java .hljs-params {

}
.lang-java .hljs-comment {
	color: rgb(41, 143, 10);
}
