<!-- top navigation -->
<nav class="navbar navbar-default navbar-section">
	<div class="container-fluid content-bounds">
		<a class="navbar-brand" href="." style="padding:9px;margin:0;">
        	<img alt="Brand" src="assets/amberjack-logo-small.png">
		</a>
		<ul class="nav navbar-nav nav-right nav-section">
			<li><a href="#!/getting-started">Getting Started</a></li>
			<li><a href="#!/docs-main">Documentation</a></li>
			<li><a href="http://www.github.com/hashvoid/amberjack">Github</a></li>
		</ul>
	</div>
</nav>

<div class="container-fluid center-box-l2">

	<div class="book-title-box">
		<div class="content-bounds" style="overflow:none">
			<div class="line1" slate-param="heading1">&nbsp;</div>
			<div class="line2" slate-param="heading2">&nbsp;</div>
		</div>
	</div>

	<div id="toc-shim">
		<div class="content-bounds">
			<nav role="navigation" class="table-of-contents">
				<span id="toc-box">&nbsp;</span>
			</nav>
		</div>
	</div>
	<div class="content-bounds">
		<div class="book-content-box" slate-param="content" slate-toc-id="toc-box">&nbsp;</div>
	</div>
</div>

<script>

(function() {
	var toc_div = $("#toc-shim");
	var ofst = toc_div.offset();
	$(window).scroll(function() {
		if ($(window).scrollTop() > ofst.top) {
			toc_div.css("position", "fixed").css("top","0px").css("right", "0");
	    }
		else {
			toc_div.css("position","").css("right","")
		}
	});
})();

</script>
