<style type="text/css">

.col-hdr {
	font-size: 1.4em; font-weight: 900; color: #257B97;
	padding: 1em 0 0.5em 0;
	text-align: center;
}

.col-body {
	padding: 0 7px 10px 7px;
}

.col-footer {
	text-align: left;
	padding: 0 0 2em 1em;
}

.col-axn {
	text-decoration: none;
	color: rgb(242, 169, 68); /*#EF4916;*/
	font-size: 1em; font-weight: bold;
	padding: 0.5 2em; border: none;
}

.col-axn:hover {
	text-decoration: none;
	color: #EF4916;
}


.callout {
	padding: 2em 5em 1em 5em;
	font-weight: bold;
	text-align: center;
}

.small {
	font-size: 0.9em;
}
</style>

<!-- top navigation -->
<nav class="navbar navbar-default navbar-section">
	<div class="container-fluid content-bounds">
		<ul class="nav navbar-nav nav-right nav-section">
			<li><a href="#!/getting-started">Getting Started</a></li>
			<li><a href="#!/docs-main">Documentation</a></li>
			<li><a href="http://www.github.com/hashvoid/amberjack">Github</a></li>
		</ul>
	</div>
</nav>

<div class="container-fluid center-box-l2">

	<div class="home-title-box">
		<div class="content-bounds">
			<div class="line1">
				<img src="assets/amberjack-logo.png" />
			</div>
			<div class="line2">
				A cleanroom JAX-RS implementation
			</div>
		</div>
	</div>

	<div class="content-bounds home-content-box">

		<p>
			Amberjack is a clean-room implementation of the server-side features as defined by the
			JAX-RS specification version 2.0. It provides an environment for deploying RESTful Web
			services written in Java. Amberjack has been designed with the following objectives in
			mind:
		</p>

		<ul>
			<li>
				Have a minimum of external dependencies. This lowers the possibility of version
				conflicts with other third-party components used by the end application. It also
				reduces the application binary footprint during deployment.
			</li>
			<li>
				Be embeddable in a variety of technology bundles and stacks. A good example is the
				Jetizen stack for creation of Web services and micro-services.
			</li>
			<li>
				Easy integration with other components and frameworks. API support is available for
				integration with dependency injection frameworks such as Crossbinder and Guice.
			</li>
			<li>
				Loose coupling with transport layer semantics. This allows for custom integration
				with non-J2EE environments (e.g. Netty) or even replace HTTP with a custom protocol.
			</li>
		</ul>

		<p class="callout">Amberjack is open-source under the terms of Apache Public License version 2.0.
			It is being developed and maintained on Github.<br/>If you'd like to contribute to Amberjack,
			we would be very happy to accept pull requests.
		</p>
	</div>
</div>
